<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">
  <!-- <base href="/"> -->

  <title>Catalog</title>
  <meta name="description" content="product page">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Template Basic Images Start -->
  <meta property="og:image" content="path/to/image.jpg">
  <link rel="icon" href="/img/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png">
  <!-- Template Basic Images End -->

  <!-- Custom Browsers Color Start -->
  <meta name="theme-color" content="#000">
  <!-- Custom Browsers Color End -->

  <link rel="stylesheet" href="css/main.min.css">

</head>

<body>

  <header class="container-fluid">
    <div class="row align-items-center">
      <div class="info col">
        <h3 class="info__text text-center">Whatever header they currently use goes here</h3>
      </div>
    </div>

    <nav class="navigation row">
      <div class="col-lg-5 offset-lg-1">
        <ul class="menu">
          <li class="menu__item">
            <a href="index.html" class="menu__link">Main</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Women's</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Men's</a>
          </li>
          <li class="menu__item">
            <a href="catalog.html" class="menu__link">Catalog</a>
          </li>
          <li class="menu__item">
            <a href="bag.html" class="menu__link">Bag</a>
          </li>
          <li class="menu__item">
            <a href="product.html" class="menu__link">Product</a>
          </li>
        </ul>
      </div>
    </nav>

  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 offset-md-1">

        <section class="block">
          <h3 class="block__title">Catalog Title</h3>
          <hr class="block__line">
          <div class="row">
            <section class="product col-md-4">
              <img class="product__image" src="img/snikers.png" alt="Sample image">
              <hr class="product__line">
              <h5 class="product__title">Sample item title</h5>
              <p class="product__price">$99.
                <span class="product__price--cents">99</span>
              </p>
            </section>
            <section class="product col-md-4">
              <img class="product__image" src="img/snikers.png" alt="Sample image">
              <hr class="product__line">
              <h5 class="product__title">Sample item title</h5>
              <p class="product__price">$99.
                <span class="product__price--cents">99</span>
              </p>
            </section>
            <section class="product col-md-4">
              <img class="product__image" src="img/snikers.png" alt="Sample image">
              <hr class="product__line">
              <h5 class="product__title">Sample item title</h5>
              <p class="product__price">$99.
                <span class="product__price--cents">99</span>
              </p>
            </section>
            <section class="product col-md-4">
              <img class="product__image" src="img/snikers.png" alt="Sample image">
              <hr class="product__line">
              <h5 class="product__title">Sample item title</h5>
              <p class="product__price">$99.
                <span class="product__price--cents">99</span>
              </p>
            </section>
            <section class="product col-md-4">
              <img class="product__image" src="img/snikers.png" alt="Sample image">
              <hr class="product__line">
              <h5 class="product__title">Sample item title</h5>
              <p class="product__price">$99.
                <span class="product__price--cents">99</span>
              </p>
            </section>
            <section class="product col-md-4">
              <img class="product__image" src="img/snikers.png" alt="Sample image">
              <hr class="product__line">
              <h5 class="product__title">Sample item title</h5>
              <p class="product__price">$99.
                <span class="product__price--cents">99</span>
              </p>
            </section>
            <section class="product col-md-4">
              <img class="product__image" src="img/snikers.png" alt="Sample image">
              <hr class="product__line">
              <h5 class="product__title">Sample item title</h5>
              <p class="product__price">$99.
                <span class="product__price--cents">99</span>
              </p>
            </section>
            <section class="product col-md-4">
              <img class="product__image" src="img/snikers.png" alt="Sample image">
              <hr class="product__line">
              <h5 class="product__title">Sample item title</h5>
              <p class="product__price">$99.
                <span class="product__price--cents">99</span>
              </p>
            </section>
            <section class="product col-md-4">
              <img class="product__image" src="img/snikers.png" alt="Sample image">
              <hr class="product__line">
              <h5 class="product__title">Sample item title</h5>
              <p class="product__price">$99.
                <span class="product__price--cents">99</span>
              </p>
            </section>
            <section class="product col-md-4">
              <img class="product__image" src="img/snikers.png" alt="Sample image">
              <hr class="product__line">
              <h5 class="product__title">Sample item title</h5>
              <p class="product__price">$99.
                <span class="product__price--cents">99</span>
              </p>
            </section>
          </div>
        </section>
      </div>
    </div>
  </div>
  <script src="js/scripts.min.js"></script>

</body>

</html>