<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">
  <!-- <base href="/"> -->

  <title>Product</title>
  <meta name="description" content="product page">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Template Basic Images Start -->
  <meta property="og:image" content="path/to/image.jpg">
  <link rel="icon" href="/img/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png">
  <!-- Template Basic Images End -->

  <!-- Custom Browsers Color Start -->
  <meta name="theme-color" content="#000">
  <!-- Custom Browsers Color End -->

  <link rel="stylesheet" href="css/main.min.css">

</head>

<body>

  <header class="container-fluid">

    <div class="row align-items-center">
      <div class="info col">
        <h3 class="info__text text-center">Whatever header they currently use goes here</h3>
      </div>
    </div>
    <nav class="navigation row">
        <div class="col-lg-5 offset-lg-1">
          <ul class="menu">
            <li class="menu__item">
              <a href="index.html" class="menu__link">Main</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Women's</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Men's</a>
            </li>
            <li class="menu__item">
              <a href="catalog.html" class="menu__link">Catalog</a>
            </li>
            <li class="menu__item">
              <a href="bag.html" class="menu__link">Bag</a>
            </li>
            <li class="menu__item">
              <a href="product.html" class="menu__link">Product</a>
            </li>
          </ul>
        </div>
      </nav>
  </header>

  <main class="container-fluid">
    <div class="detail row">
      <div class="col-lg-6 offset-lg-1 d-flex flex-column">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a class="breadcrumb-link" href="index.html">Collection</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Product Title</li>
          </ol>
        </nav>
        <div class="detail__wrapper">
          <img src="img/product-img.png" alt="Image" class="detail__image">
        </div>
      </div>
      <div class="col-lg-4 d-flex flex-column">
        <h3 class="detail__title">Product Title</h3>
        <p class="detail__info">Adidas – немецкий промышленный концерн, специализирующийся на выпуске спортивной обуви, одежды, сумок, часов, очков,
          инвентаря и других товаров, связанных со спортом. Компания является крупнейшим производителем спортивных товаров
          в Европе и вторым по величине в мире.
        </p>
        <form class="purchase" action="action" method="post">

          <p class="purchase__price">$99.
            <span class="purchase__price--cents">99</span>
          </p>
          <div class="purchase__row">
            <label for="staticMark" class="purchase__label ">Mark</label>
            <input type="text" readonly class="purchase__input " id="staticMark" value="Nike">
          </div>
          <div class="purchase__row">
            <label for="staticModel" class="purchase__label ">Model</label>
            <input type="text" readonly class="purchase__input" id="staticModel" value="Air Max 2009">
          </div>
          <div class="purchase__row">
            <label for="staticColor" class="purchase__label ">Color</label>
            <input type="text" readonly class="purchase__input" id="staticColor" value="Red">
          </div>
          <select class="purchase__select">
            <option disabled selected>Choose size</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
          </select>
          <div class="purchase__buttons">
            <button class="button purchase__button button--bordered">Add to bag</button>
            <button class="button purchase__button button--bordered">View bag</button>
          </div>

        </form>
      </div>
    </div>
  </main>

  <script src="js/scripts.min.js"></script>

</body>

</html>